#content {
    margin: 0;
    padding: 0;
}
#choose {
	text-align: center;
}
.fixed {
    position:fixed;
    top:20px;
}
#asideBar{
	margin: 0px;
	padding: 0px;
}
#asideBarDiv{
	margin: 0px;
	padding: 0px;
}